$color1:blue;
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
div {
    font-size: 18px;
}
%address {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
p {
    @extend %address;
    background-color: green;
}