html {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600) {
body {
        font-family: 'handlee', cursive;
        font-size: 13pt;
        background-color: lightblue;
        padding: 10px;
        margin: 0;
}
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
